.nav-enlace{
    display: inline-block;
background-color: salmon;
color: #fff;
padding: 10px 30px;
text-decoration: none;
}
.nav-enlace:hover{
    background-color: rosybrown;
}
nav{
    background-color: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-boton{
    background-color: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}
@media (max-width: 600px) {
    nav{
        background-color: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    }